.wrap{
    margin-top:60px;
    overflow: hidden;
}
.content {
    width: 1000px;
    margin: 0 auto;
}
.titleHead {
    line-height: 18px;
    margin: 24px 0;
    font-size: 18px;
    display: inline-block;
    font-weight: bold;
    color: #333;
}
#left {
    width: 690px;
    float: left;
}
.article {
    margin-bottom: 25px;
    font-size: 12px;
    overflow: hidden;
}
.article .articleImg {
    width: 183px;
    height: 125px;
    float: left;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 8px;
}
.article .articleImg a {
    width: 183px;
    height: 130px;
    display: block;
    background: #f9f9f9;
}
.article .articleImg img {
    display: block;
    width: 183px;
    overflow: hidden;
}
.article .articleInfo {
    float: left;
    width: 455px;
    height: 125px;
    overflow: hidden;
}
.article .title {
    font-size: 15px;
    line-height: 15px;
    height: 15px;
    color: #383830;
    display: inline-block;
    width: 455px;
    margin-top: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.article .info, .article .from {
    color: #383830;
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    margin: 17px 0;
}
.article .createTime {
    color: #999;
}
.article .sall {
    display: block;
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    margin-top: 14px;
    color: #256DC6;
}

#right {
    width: 280px;
    float: right;
}

.stit h3 {
    font-size: 16px;
    line-height: 18px;
    display: inline-block;
    font-weight: bold;
    color: #333;
}

.themeRight {
    margin: 5px 0 40px;
}
.themeRight li {
    width: 280px;
    height: 70px;
    margin-top: 20px;
}
.themeRight .themeImg {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 8px;
    border-radius: 5px;
    overflow: hidden;
}
.themeRight .themeImg img {
    width: 70px;
    height: 70px;
}
.themeRight .themeTitle {
    display: inline-block;
    font-size: 15px;
    margin-bottom: 7px;
    color: #333;
    width: 202px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.themeRight .content {
    float: left;
    color: #999;
    font-size: 13px;
    line-height: 20px;
    width: 202px;
    height: 43px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.container {
    font-size: 13px;
    line-height: 24px;
}
.container p{
    margin-bottom: 0;
}
