#header{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: #fff;
}
.header_container{
    width: 1000px;
    height: 60px;
    padding: 15px 0;
    margin: 0 auto;
    box-sizing: border-box;
}
#header .logo{
    float: left;
}
#header .logo>img {
    height: 30px;
}
#header .nav{
    float: left;
    margin-left: 20px;
}
#header .nav li {
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #333;
    padding: 0 12px;
    position: relative;
}
#header .nav li:hover >a{
    color: #FFB31A;
}

#header .nav li>a {
    display: block;
    width: auto;
    height: 30px;
    line-height: 30px;
    color: #000;
    letter-spacing: 1px;
}
#header .header_container .nav li .naw{
    margin-left: 5px;
    display: inline-block;
    width: 12px;
    height: 6px;
    background: url(https://cp1.douguo.com/static/nweb/images/more1-1.png);
    vertical-align: middle;
}
#header .header_container .nav .act .naw {
    background: url(https://cp1.douguo.com/static/nweb/images/share-more.png);
}
#header .search {
    height: 30px;
    /* display: inline-block; */
    margin-left: 15px;
    float: left;
}
#header .search .sput {
    float: left;
    width: 182px;
    height: 30px;
    line-height: 16px;
    padding: 7px 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #F7F7F7;
    color: #999;
    font-size: 12px;
    box-sizing: border-box;
    border: 0;
}
#header .search .lib {
    float: left;
    width: 38px;
    height: 30px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #eee url(https://cp1.douguo.com/static/nweb/images/search2.png) no-repeat 12px 8px;
    cursor: pointer;
    box-sizing: border-box;
    border: 0;

}
#header .release {
    float: left;
    margin-left: 15px;
    position: relative;
}
#header .reBtn {
    display: block;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #FFB31A;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
}
#header .perinfo {
    float: left;
    display: inline-block;
    margin-left: 40px;
    height: 30px;
    line-height: 30px;
}
#header .perinfo .login, #header .perinfo .register {
    font-size: 15px;
    color: #000;
    font-weight: normal;
}
#header .nav li.act>a {
    color: #FFB31A;
    font-weight: bold;
    border-bottom: 2px solid #FFB31A;
}
.nav .ctip {
    display: none;
    box-shadow: 0 2px 5px 0 rgba(64,71,81,0.10);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 14px;
    text-align: left;
    width: 492px;
    height: 483px;
    background: #fff;
    position: absolute;
    top: 45px;
    left: -162px;
    z-index: 99;
    padding: 0 16px;
}
.nav .ctip .arwwj {
    height: 15px;
    width: 492px;
    position: absolute;
    display: block;
    left: 0;
    top: -15px;
    background: transform;
}
.nav .ctab {
    line-height: 55px;
}
.nav .cblok a:hover{
    color: #FFB31A ;
}
.nav .ctab a {
    display: inline-block;
    color: #383830;
    margin-right: 43px;
}
.nav .ctab img {
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}
.nav .citem {
    overflow: hidden;
    border-top: 1px solid #E5E3DF;
}
.nav .citem>span {
    float: left;
    width: 64px;
    text-align: center;
    font-weight: bold;
    margin-right: 16px;
    line-height: 46px;
    color: #333;
}
.nav .imublo{
    float: left;
    width: 380px;
}
.nav .citem a {
    width: 95px;
    float: left;
    line-height: 46px;
    color: #333;
}
.nav .imore span{
    color: #256DC6;
    float: left;
    vertical-align: middle;
}
.nav .imore img{
    float: left;
    vertical-align: middle;
    margin-top: 18px;
    margin-left: 5px;
    height: 12px;
}
.nav .cmore {
    line-height: 52px;
    text-align: center;
    border-top: 1px solid #E5E3DF;
}
.nav .cmore a {
    color: #256DC6;
    vertical-align: middle;
}
.nav .cmore img{
    display: inline-block;
    margin-left:5px;
    vertical-align: middle;
    height: 12px;
}

#header .headicon {
    width: 30px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
}

#header .headicon img{
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 100%;
}

#header .myinfo {
    margin-left: 47px;
    float: left;
    line-height: 30px;
    font-size: 16px;
    position: relative;
}

#header .myedit {
    display: none;
    width: 130px;
    padding: 8px;
    background: #fff;
    position: absolute;
    z-index: 99;
    top: 45px;
    left: -50px;
    box-shadow: 0 0 5px 0 rgba(64,71,81,0.10);
}
#header .myedit a {
    line-height: 36px;
    display: block;
    text-align: center;
    font-size: 13px;
}
#header .myinfo .arwwj {
    height: 15px;
    width: 130px;
    position: absolute;
    display: block;
    left: 0;
    top: -15px;
}
#header .myedit a:hover{
    color: #FFB31A;
}
