#content {
    width: 1000px;
    margin: 0 auto;
}
.goodsList {
    font-size: 0;
    margin-top: 30px;
}
.goodsList li{
    margin-right: 0;
    display: inline-block;
    margin-bottom: 39px;
    width: 240px;
}
.goodsList li:hover h3{
    color: #ffaa00;
}
.goods h3 {
    height: 40px;
    margin-top: 9px;
    font-size: 15px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.imgbox{
    display: inline-block;
    width: 240px;
    height: 240px;
    line-height: 240px;
    overflow: hidden;
    text-align: center;
    vertical-align: center;
    background: #f4f4f4;
}
.goods img {
    width: 240px;
    vertical-align: middle;
}
.goods h3 {
    height: 40px;
    margin-top: 9px;
    font-size: 15px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}
